---
---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Vihan Lakshman</title>

  <!--------------------------------- Theme ----------------------------------->
  <link rel="stylesheet" href="stylesheets/styles.css">

  <!--------------------------------- Icons ----------------------------------->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
    integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <!--------------------------------- Other stuff ----------------------------->
  {%- include common-head.html -%}

  {% seo %}
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Vihan Lakshman</h1>
      <img src="assets/images/vihan_pic.jpeg" alt="Bio Image">

      <div class="social-icons">
        <a class="social-icon" href="mailto:vihan.lakshman@gmail.com"><i class="fa fa-envelope-square"></i></a>
        <a class="social-icon" href="https://github.com/vihan-lakshman/"><i class="fa fa-github-square"></i></a>
        <a class="social-icon" href="https://scholar.google.com/citations?hl=en&user=EO6fMUUAAAAJ"><i
            class="ai ai-google-scholar-square"></i></a>
        <a class="social-icon" href="assets/files/vihan-cv.pdf"><i class="ai ai-cv-square"></i></a>
      </div>

      <br>

    </header>

    <section>
      I am currently a research scientist at <a href="thirdai.com">ThirdAI</a>. Previously,
      I was an applied scientist on the Amazon product search team, working on research challenges in information
      retrieval and building scalable machine learning pipelines. Before that, I studied
      <a href="https://icme.stanford.edu/"> computational mathematics</a> at Stanford University.
      <br>
      <br>

      <hr>
      <h2>Publications</h2>
      <p>
        <b>CAPS: A Practical Partition Index for Filtered Similarity Search</b> <br>
        Gaurav Gupta, Jonah Yi, Benjamin Coleman, Chen Luo, <u>Vihan Lakshman</u>, Anshumali Shrivastava<br>
        <i>In submission</i><br>
        <a href="https://arxiv.org/pdf/2308.15014v1.pdf">Preprint</a> |
        <a href="https://github.com/gaurav16gupta/constrainedANN">Code</a>
        <!-- <a href="dessert">Blog Post</a> -->
      </p>

      <b>DESSERT: An Efficient Algorithm for Vector Set Search with Vector Set Queries.</b> <br>
      Joshua Engels, Benjamin Coleman, <u>Vihan Lakshman</u>, and Anshumali Shrivastava<br>
      <i>In submission</i><br>
      <a href="https://arxiv.org/pdf/2210.15748.pdf">Preprint</a> |
      <a href="https://github.com/ThirdAIResearch/Dessert">Code</a>
      </p>

      <p>
        <b>CARAMEL: A Succinct Read-Only Lookup Table via Compressed Static Functions</b><br>
        Benjamin Coleman, David Torres Ramos, <u>Vihan Lakshman</u>, Chen Luo, Anshumali Shrivastava<br>
        <i>In submission</i><br>
        <a href="https://arxiv.org/pdf/2305.16545.pdf">Preprint</a> |
        <a href="https://github.com/brc7/caramel">Code</a>
      </p>

      <p>
        <b>BOLT: An Automated Deep Learning Framework for Training and Deploying Large-Scale Search and Recommendations
          Models on Commodity CPU Hardware</b> <br>
        Nicholas Meisburger, <u>Vihan Lakshman</u>, Benito Geordie, Joshua Engels, David Torres Ramos, Pratik
        Pranav, Benjamin Coleman, Benjamin Meisburger, Shubh Gupta, Yashwanth Adunukota, Tharun
        Medini, Anshumali Shrivastava<br>
        <i>CIKM 2023</i><br>
        <a href=https://arxiv.org/pdf/2303.17727.pdf>Paper</a> |
        <a href="https://github.com/ThirdAIResearch/BOLT_Benchmarks">Code</a>
      </p>

      <p>
        <b>From Research to Production: Towards Scalable and Sustainable Neural Recommendation Models on Commodity CPU
          Hardware</b><br>
        Anshumali Shrivastava, <u>Vihan Lakshman</u>, Tharun Medini, Nicholas Meisburger, Joshua Engels, David Torres
        Ramos, Benito Geordie, Pratik Pranav, Shubh Gupta, Yashwanth Adunukota, Siddharth Jain<br>
        <i>RecSys (Industry Extended Abstract) 2023</i><br>
        <a href="https://dl.acm.org/doi/pdf/10.1145/3604915.3610249">Paper (Forthcoming)</a>
      </p>
      <p>
        <b>ROSE: Robust Caches for Amazon Product Search</b><br>
        Chen Luo, <u>Vihan Lakshman</u>, Anshumali Shrivastava, Tianyu Cao, Sreyashi Nag, Rahul Goutam, Hanqing Lu,
        Yiwei Song, Bing Yin<br>
        <i> WWW (Industry Track) 2022 </i><br>
        <a href="https://dl.acm.org/doi/pdf/10.1145/3487553.3524213">Paper</a>
      </p>

      <p>
        <b>Massive Text Normalization via an Efficient Randomized Algorithm</b> <br>
        Nan Jiang, Chen Luo, <u>Vihan Lakshman</u>, Yesh Dattatreya, Yexiang Xue<br>
        <i>WWW 2022</i><br>
        <a
          href="https://assets.amazon.science/f7/fd/07341455401d95b740dc944c1251/massive-text-normalization-via-an-efficient-randomized-algorithm.pdf">Paper</a>
      </p>
      <p>
        <b>Embracing Structure in Data for Billion-Scale Semantic Product Search</b> <br>
        <u>Vihan Lakshman</u>, Choon Hui Teo, Xiaowen Chu, Priyanka Nigam, Abhinandan Patni, Pooja Maknikar, S.V.N
        Vishwanathan<br>
        <i>International Workshop on Interactive and Scalable Information Retrieval Methods for
          eCommerce 2022</i> <br>
        <a href="https://arxiv.org/pdf/2110.06125.pdf">Paper</a>
      </p>
      <p>
        <b>Low-Precision Quantization for Efficient Nearest Neighbor Search</b><br>
        Anthony Ko, Iman Keivanloo, <u>Vihan Lakshman</u>, Eric Schkufza<br>
        <i>Manuscript (Presented at 2020 Amazon Machine Learning Conference)</i><br>
        <a href="https://arxiv.org/pdf/2110.08919.pdf">Paper</a>
      </p>
      <p>
        <b>Semantic Product Search</b> <br>
        Priyanka Nigam, Yiwei Song, Vijai Mohan, <u>Vihan Lakshman</u>, Weitian Ding, Ankit Shinghavi, Choon Hui Teo,
        Hao Gu, Bing Yin<br>
        <i>KDD 2019</i><br>

        <a href="https://dl.acm.org/doi/pdf/10.1145/3292500.3330759">Paper</a>
      </p>
      <hr>

      <h2> Patents</h2>
      <p>
        <b>Locality Sensitive Hashing to Clean and Normalize Text Logs</b><br>
        <u>Vihan Lakshman</u>, Chen Luo, Yesh Dattatreya, Nan Jiang<br>
        US Patent 11,244,156, 2022<br>
        <a href="https://patentimages.storage.googleapis.com/ae/50/8d/1f5b7fb9c246b2/US11244156.pdf">Filing</a>
      </p>

      <hr>

      <!-- <h2>Blog Posts</h2>
      {% for post in site.posts %}
      <a href="{{ post.url }}">{{ post.title }}</a><br>
      {{ post.content | strip_html | truncatewords: 18 }}
      <br>
      {% if forloop.last == false %}
      <br>
      {% endif %}
      {% endfor %} -->

    </section>
    <footer>
      <p><small>Website Courtesy of <a href="https://github.com/JoshEngels/JoshEngels.github.io">Josh
            Engels</a>!</small><br>
        <small>Hosted on GitHub Pages with Jekyll. <br>
          Homepage theme by <a href="https://github.com/orderedlist">orderedlist</a>.</small>
      </p>
    </footer>
  </div>
  <script src="/javascripts/scale.fix.js"></script>
</body>

</html>